<div class="cover-text body-user">
  <h2 >All Alpha Bloggers</h2>
</div> 
<div class="center">
  <% @users.each do |user| %>
  <ul class="listing">
    <div class="row">
      <div class="well well-lg col-xs-6 col-xs-offset-3">
        <li><%= link_to gravatar_for(user), user_path(user) %></li>
        <li class="article-link"><%= link_to user.username, user_path(user) %></li>
        <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
        </div>
      </div>
    </ul>
    <div class="article-actions">
      <%= link_to "Edit this user", edit_user_path(user), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete this user", user_path(user), method: :delete,
      data: { confirm: "Are you sure you want to delete this user?"},
      class: "btn btn-xs btn-danger" %>
    </div>
  <% end %>
</div>
  
